
<div class="d-flex flex-column flex-shrink-0 bg-dark vh-100" style="width: 4.5rem; margin-right: 0px;" >
  <a routerLink="/home" routerLinkActive="active">
    <button type="button" class="btn btn-dark">
          <img src="/assets/index.png" alt="Home" width="48" height="48" class="rounded-circle me-2">
            </button>
  </a>
  <a routerLink="/#" routerLinkActive="active">
      <button type="button" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
      </button>
      </a>
    <a routerLink="/guild-discovery" routerLinkActive="active">
      <button type="button" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="green" class="bi bi-compass" viewBox="0 0 16 16">
              <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
            </svg>
      </button>
    </a>
    <a routerLink="/#" routerLinkActive="active">
      <button type="button" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="green" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
      </button>
      </a>
    </div>