<nav class="navbar bg-dark">
    <ul class="nav">
        <li>
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="FInd or start a conversation">
            </form>
        </div>
        <ul>
        <button type="button" class="btn btn-dark">
            Friends
        </button>
        </ul>
        <ul>
        <button type="button" class="btn btn-dark">
            Stage Discovery
        </button>
        </ul>
        <ul>
        <button type="button" class="btn btn-dark">
            Nitro
        </button>
        </ul>
        </li>
    <li><button type="button" class="btn btn-dark">
        Friends
    </button></li>
    <li class="nav-item"><a class = "btn btn-dark" href="#">
        Online
    </a></li>

    <li class="nav-item"><a class = "btn btn-dark" href="#">
        All 
    </a></li>
    <li class="nav-item"><a class = "btn btn-dark" href="#">
        Pending
    </a></li>
    <li class="nav-item"><a class = "btn btn-dark" href="#">
        Blocked
    </a></li>
    <li class="nav-item"><a class = "btn btn-dark" href="#">
        Add Friend
    </a></li>
</ul>
</nav>
