<div class="d-flex flex-row">
<div class="d-flex flex-column text-white p-4 m-2">
    <div class="card bg-dark " style="width: 18rem;">
        <img class="card-img-top" src="\assets\gen.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-text">{{GenImpactTitle}}</h4>
          <p class="card-text">{{GenImpactDescription}}</p>
        </div>
      </div>
</div>
<div class="d-flex flex-column text-white p-4 m-2">
  <div class="card bg-dark " style="width: 18rem;">
      <img class="card-img-top" src="\assets\valorant.jpg" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-text">{{ValorantTitle}}</h4>
        <p class="card-text">{{ValDescription}}</p>
      </div>
    </div>
</div>
<div class="d-flex flex-column text-white p-4 m-2">
  <div class="card bg-dark " style="width: 18rem;">
      <img class="card-img-top" src="\assets\minecraft.jpg" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-text">{{MinecraftTitle}}</h4>
        <p class="card-text">{{MinecraftDescription}}</p>
      </div>
    </div>
</div>
<div class="d-flex flex-column text-white p-4 m-2">
  <div class="card bg-dark " style="width: 18rem;">
      <img class="card-img-top" src="\assets\fortnite.jpg" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-text">{{FortniteTitle}}</h4>
        <p class="card-text">{{FortniteDescription}}</p>
      </div>
    </div>
</div>
</div>
