
<div class="container-fluid bg-dark">
    <div class="d-flex flex-row">
        <div class="flex-column" style="align-content: center;">
            <primary-side-bar></primary-side-bar>
        </div>
        <div class="flex-column" style="align-content: center;">
            <secondary-side-bar></secondary-side-bar>
        </div>
        <div class="flex-column">
            <app-top-nav-bar></app-top-nav-bar>
            <router-outlet></router-outlet>
        </div>
        <div class="flex-column bg-dark">
            <right-side-bar></right-side-bar>
        </div>
    </div>
</div>
